%div
  %h3 Welcome to Jess's Dog Walking and Small Animal Care inc.
%div.banner_img
  %img.img-responsive{:src => "http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png"}
%div
  %p
    Brief description of business here.
