%div
  %h3 Welcome to Jess's Dog Walking and Small Animal Care inc.
%div.banner_img
  %img.img-responsive{:src => "http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png"}
%br
%div
  %p
    &nbsp My name is Jess and I love animals!  I've been taking care of them for as long as I can remember.  I grew up with all sorts of animals in the house including cats, dogs, ferrets, hamsters, lizards, fish, canaries, and parrots; now I live with a dog, two cats, and seven rats plus my husband (he counts right?).
    %br
    &nbsp In additon to taking care of my own animals I've been walking dogs for friends and family for years and I volenteer with Mainley Rat Rescue and the local Animal Refuge league taking care of rats and bunnies when they're short on space or too young to be adopted.
    %br
    &nbsp Currently I provide daily dog walking, small animal hotel, and in home animal care services.  If your interested in more information take a look at my services and faq pages and feel free to contact me with any additional questions or concerns.  If like you can even book my services on this website after creating a free account. 
