%div
  %h4 What service are you looking for?
  %ul
    %li
      =link_to "Dog Walking", "#dog_walking"
    %li
      =link_to "Small Animal Hotel", "#small_animal_hotel"
    %li
      =link_to "In Home Pet Care", "#in_home_pet_care"
%div
  %div#dog_walking
    %h4 Dog Walking
    %p Description of dog walking services
  %div#small_animal_hotel
    %h4 Small Animal Hotel
    %p Description of Small Animal Hotel services
  %div#in_home_pet_care
    %h4 In Home Pet Care
    %p Description of in home pet care
