%div
  %h4 What service are you looking for?
  %ul
    %li
      =link_to "Dog Walking", "#dog_walking"
    %li
      =link_to "Small Animal Hotel", "#small_animal_hotel"
    %li
      =link_to "In Home Pet Care", "#in_home_pet_care"
%div
  %div#dog_walking
    %h4 Dog Walking
    %p I'll meet you at your house or preferred location within Portland, South Portland, Cape Elizabeth, or Scarborough and take your dogs for a great walk.  You can schedule me for anywhere from 30 minutes to two hours depending on your animals' needs.  I'll provide treats, toys, and everything needed to clean up after them along with transportation, if desired, to a nearby dog park or other great walking area.
    %h6 Rates
    %ul
      %li 30 minutes - $12 + $3 for each extra dog
      %li 1 hour - $18 + $3 for each extra dog
      %li 1 1/2 hours - $25 + $3 for each extra dog
      %li 2 hours - $30 + $3 for each extra dog

  %div#small_animal_hotel
    %h4 Small Animal Hotel
    %p Going out of town? Don't want to trouble a friend or family member to stop by daily to take care of your small animals? Bring them to me! I will happily care for your little guys. Currently I accept any animals that spend their days in a cage or tank, except fish as the travel can harm them.  I'll provide food and treats along with all the attention they need while your away so you can travel worry free.  If your animals have special dietary or medical needs please bring their special food or medicine along with directions on when and how to administer it.
    %h6 Rates
    %ul
      %li $12 per night for one animal
      %li +$1 per night for each additional animal of the same type
      %li +$6 per night for each additional type of animal

  %div#in_home_pet_care
    %h4 In Home Pet Care
    %p If you'd rather I come to your house to take care of all your little guys I provide in home animal care as well. For this service I'll stop by your place twice a day for up to an hour to take care of any and all animals you have. I'll follow your directions for feeding all your animals, make sure everyone has water, take any dogs out for a walk and to have them do their business; I'll also clean up after them as needed taking care of any accidents, changing the litter as requested and I'll even water your plants and bring in your mail! For In Home Animal Care I'll travel within Scarborough, South Portland, Portland, and Cape Elizabeth; if you need this service but live outside these towns feel free to call or message me via the contact us page and I'm happy to see if I'll be able to help you.
    %h6 Rates
    %ul
      %li $40 per day for any number of animals
