// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dog_walking_form{
  display: none;
}
#animal_hotel_form{
  display: none;
}
#in_home_form{
  display: none;
}
#time_off_form{
  display: none;
}
.hidden{
  display: none;
}
.day {
  width: 13%;
  height: 80px;
  border: solid;
  margin: 2px;
  float: left;
}
.date {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}
.past_date {
  font-size: 10px;
  text-align: center;
  color: grey;
}

.openings {
  font-size: 10px;
  margin: 1px;
}
.modal{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#owner_calendar_modal{
  position: fixed;
  top: unset;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%
}
.owner_day {
  width: 13%;
  height: 200px;
  border: solid;
  margin: 2px;
  float: left;
}
.owner_date {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}
.owner_past_date {
  font-size: 10px;
  text-align: center;
  color: grey;
}
